
 <div class="row" id="about">
  <div class="container">
     <div class="text-center"><h2 class="about-title">About</h2></div>   
     <div class="text-center"><h3 class="text-about">booostme we built with the idea of ​​motivating <br> people to change the world in a positive way</h3></div>
  </div>
 </div>	