
 <div class="row" id="about">
  <div class="content_about">
   	<div class="container">
     <div class="text-center"><h1 class="about-title">About</h1></div>   
   </div>
  </div>
 </div>	

 <div class="row">
  <div class="container">
	<div class="content_terms">
			<p class="text_terms">We launched Booostme to motivate and encourage people to perform positively . Success for a school exam , achieving a professional task or success of a daily challenge is never done alone. We need the support of our family or friends. What if we expanded it supports the whole world ! Here is the mission Booostme.<br><br> 

      </p>
	</div>
  </div>
</div>