
 <div class="row" id="about">
  <div class="content_about">
   	<div class="container">
     <div class="text-center"><h1 class="about-title">About</h1></div>   
   </div>
  </div>
 </div>	

 <div class="row">
  <div class="container">
	<div class="content_terms">
			<p class="text_terms">Booostme is a community of people that wants the success of his neighbor in his daily challenges. From politics to sport through technology, use Booostme for support and encouragement in your initiatives to make the world better .</p>
	</div>
  </div>
</div>