<body class="coming_soon">
	<div class="row">
		<div class="text-center">
			<img src="assets/booostme_500vert.png" class="logo">
		</div>
			<div class="text-center"><h3 class="pitch">Get support around the world for your daily challenges</h3></div>
		<div class="text-center">	
			<div class="links">

				© 2015 Booostme<a href="https://twitter.com/booostmeapp"> follow us @booostmapp</a><col></col>
			</div>
		</div>
	</div>
</body>