
 <header class="coming_soon">
	<div class="row">
		<div class="text-center">
			<img src="assets/booostme_500vert.png" class="logo">
		</div>
			<div class="text-center"><h3 class="pitch">Encourage the world</h3></div>
 </header>
<section>
  <div class="container">
     <div class="text-center"><h2 class="how">How it works</h2></div>
        <div class="row" id="">
                    <blockquote class="col-md-4">
                        <cite>
                        	<div class="number">1</div>
                        </cite>
                        <p><b>Create a timed challenge and share it on twitter</b><br>
					 Painting the room of my newborn in 72 hours #booostmejrkinouani</p>
                    </blockquote>

                    <blockquote class="col-md-4" >
                        <cite>
                            <div class="number">2</div>
                        </cite>
                        <p><b>Get support from your friends tweets and around the world</b><br>
					Hi! more than 24 hours will go !	 by a support #hongkong ! #booostme</p>
                    </blockquote>

                    <blockquote class="col-md-4" cite="http://twitter.com/hwassner">
                        <cite>
                        	<div class="number">3</div>
                        </cite>
                        <p><b>Your challenge is successful,<br> tell the world to motivate !</b><br>
					 Yessss !!! I did two hours before the end ! :-) #booostme</p>
                    </blockquote>
      </div>
    </div>
  </section>
  <!--<aside>
  	 <div class="container">
        <div class="row">
        	<div class="text-center"><h2 class="faq">About us</h2></div>
        	<div class="text-center"><h3 class="about">We built Booostme with the idea of ​​motivating people to change the world.The change is never done alone, whether one is a charismatic leader or not. Can we imagine the march from Selma civil rights without its thousands of supporters ? Or success in school examinations without encouragement from relatives or friends ? The personal achievement in the positive, inspires, makes the world a better place and this is our mission.</h3></div>
        </div>
      </div>
   </aside>-->

	<div class="row">
		<div id="footer">
      <div class="text-center"><a href="https://twitter.com/share" class="twitter-share-button" data-url="https://twitter.com/Booostmeapp" data-via="">Tweet</a> <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>

      <a href="https://twitter.com/Booostmeapp" class="twitter-follow-button" data-show-count="false">Follow @Booostmeapp</a> <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>

      
      <div class="fb-share-button" data-href="https://developers.facebook.com/docs/plugins/" data-layout="button_count"></div>

    </div>
  				<span> © 2015 Booostme <%= link_to 'about', about_path %><!--<a href="http://twitter.com/booostmeapp" target="_blank" class="linktwitter">follow us @Booostmeapp</a>--></span>
		</div>
	</div>
	
