<div class="row" id="about">
  <div class="content_about">
   <div class="container">
     <div class="text-center"><h1 class="about-title">Terms of use</h1></div>   
   </div>
  </div>
</div>	

<div class="row">
  <div class="container">
	<div class="content_terms">
			<p class="text_terms">By using Booostme you are also subject to our Terms of Service. These Community Guidelines form part of the Life On Booostme Terms of Service and are incorporated.</p>
			<p class="text_terms"></p>
			<p class="text_terms">Booostme est ouvert toute personne âgé de 13 ans et plus.</p>
			<p class="text_terms">Vous pouvez envoyer des boosts à n'importe qui et recevoir des boost de n'importe qui.</p>
			<p class="text_terms">Les challenges crées se font dans l'unique but de motivier, d'encourager et d'inspirer les gens au bien.</p>
			<p class="text_terms">Il est interdit de créer des challenges liés à a violence, qui offense ou intimide autrui.</p>
			<p class="text_terms"></p>
			<p class="text_terms"></p>
			<p class="text_terms">Il est interdit de créer des challenges qui glorifie la posséssion d'armes à feux.</p>
			<p class="text_terms">Il est interdit de créer des challenges dont le sujet sont liés à l'univers du sexe ou qui touche à la séxualité.</p>
	</div>
  </div>
</div>