
<%= link_to "Create task",  new_task_path%>

<ul>
  <% @tasks.each do |task|%>
    <li>
      <h2><%= task.title %></h2>
      <h3><%= task.time_before_end%></h3>
      <p> Due date <%= task.end_date %></p>
    </li>
  <% end %>
</ul>
