
<div class="menu_content">
  <div class="col-xs-12 col-sm-12 punchline">
    <%= image_tag("booostme_500vert.png", :class => "logo_content hidden-phone") %>
    <h2>Challenge yourself and be boosted <br> by the people around the world</h2>
  </div>
</div>


<div class="row task_list">
  <div class="container">
   <h3>Featured</h3>
    <%= render 'task/list_task' %>
  </div>
</div>


